<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.bigdata.engineer.system.bank">
    <Properties>
        <Property name="logpath">component/bank/src/main/resources/logs</Property>
        <Property name="filename">application</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} : %msg%n"/>
        </Console>

        <RollingFile name="Filelog" fileName="${logpath}/${filename}.log" filePattern="${logpath}/${filename}.%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>%d %5p [%c] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filelog" level="DEBUG"/>
        </Root>
        <Logger name="com.bigdata.engineer.system.bank" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.bigdata.engineer.system.bank" level="DEBUG">
            <AppenderRef ref="Filelog" level="DEBUG"/>
        </Logger>
    </Loggers>
</Configuration>